@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Ubuntu:wght@300&display=swap");

/* GLOBAL */
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  height: 100%;
  /* font-family: "Ubuntu", sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}
/* Background  */
.background {
  background-image: url("../public/assets/bg.png");
  height: 65vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
  top: 0px;
}
.texture {
  background-image: url("../public/assets/texture.png");
  background-attachment: fixed;
  height: 65vh;
  background-repeat: no-repeat;
}
.container-top {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: 30px !important;
  margin-right: 10px !important;
  /* border: 2px solid red; */
}




/* Top Container  */
.section-top {
  min-width: 80vw;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

.section-top-right {
  background-color: rgba(255, 255, 255, 0.315);
  backdrop-filter: blur(10px);
  padding: 50px;
  border-radius: 10px;
  /* border: 2px solid red; */
}
.section-top-right h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 10px;
}
.section-top-right h6 {
  font-weight: 900;
  color: brown;
  letter-spacing: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.section-top-right p{
  font-weight: 200;
}




/* LOGIN CONTAINER */
.login-top {
  min-width: 75vw;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /*  */
}
.login-top-right {
  /* width: 500px; */
  margin: auto;
  background-color: rgba(255, 255, 255, 0.315);
  backdrop-filter: blur(10px);
  padding: 50px;
  border-radius: 10px;
  /* border: 2px solid red; */
}
.login-top-right h3 {
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}
.login-top-right h2 {
  font-weight: 900;
  letter-spacing: 10px;
}
.login-top-right h6 {
  font-weight: 700;
  color: brown;
  letter-spacing: 7px;
}





/* DASHBOARD */
.backgroundDash {
  background-image: url("../public/assets/bg.png");
  height: 95vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
  top: 0px;
}
.textureDash {
  background-image: url("../public/assets/texture.png");
  background-attachment: fixed;
  height: 95vh;
  background-repeat: no-repeat;
}
.dash-top {
  min-width: 98vw;
  min-height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  /* border: 2px solid green; */
}
.dash-top-right {
  background-color: rgba(255, 255, 255, 0.315);
  backdrop-filter: blur(10px);
  padding: 50px;
  border-radius: 10px;
  /* border: 2px solid red; */
  height: 85vh;
}
.dash-top-right h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 900;
  letter-spacing: 3px;
}

.dash-top-right h6 {
  font-weight: 900;
  color: brown;
  letter-spacing: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dash-right{
  display: flex;
  justify-content: end;
}
.dash-right h1{
  font-weight: 900;
}
.Admindash-top{
  /* border: 2px solid red; */
  margin: 20px;
}
.Admindash-top h2{
  
    font-weight: 900;
    letter-spacing: 10px;
}
.Admindash-top h6{
  font-weight: 700;
    color: brown;
    letter-spacing: 7px;
}
/* NAVIGATION */
.title h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 10px;
}
.title h6 {
  font-weight: 900;
  color: brown;
  letter-spacing: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.navigation{
  height: 90vh;
  width: 25vw;
  padding: 30px;
  margin: 30px;
  background-color: rgba(255, 255, 255, 0.315);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 2px solid #ffecc9;
}
.navigationWrapper{
  display: grid;
  grid-template-columns: 1fr;
  gap: 9rem;
}

.navbarlist{
  padding:0;
  margin: 0;
  list-style: none;
}
.navbarListItem{
  display: flex;
  align-items: center;
  color: black;
  /* margin: 20px; */
  margin-bottom: 30px;
  /* border: 2px solid red; */
}
.navbarIcon{
  margin-right: 15px;
}
.navbarListItemText{
  font-weight: 700;
}
.profile{
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
  width: 20%;
}
.profileImg{
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}
.profileName{
  font-weight: 500;
  /* border: 2px solid red; */
  width: 120px;
}
.logout{
  color: rgb(160, 160, 160);
}

/* BTNS */
.btn-custom {
  background-color: tomato;
  color: white;
}
/* .btn-custom:hover {
  color: white;
} */
.btn-login {
  width: 100%;
}
.btn-verify {
  margin-top: 2rem;
}




/* Service Container  */
.service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 35vh;
}
.service-container-bg {
  background-color: white;
  /* padding-top: 100px; */
}
/* About Component  */
.about-container-bg {
  background-color: white;
}
.about-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



/* Download Component  */
.download-container-bg {
  background-color: white;
}
.download-component {
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img-download {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-download img {
  width: 150px;
}
.img-fluid {
  aspect-ratio: 16/9;
  width: 50rem;
}
.input {
  width: 100%;
  display: flex;
  align-items: center;
  height: 3rem;
  /* border: 2px solid grey; */
  margin-bottom: 2rem;
  border-radius: 0.4rem;
  padding: 1rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.11) 0px 7px 30px 0px;
}


/* Contact Component  */
.contact-component {
  padding-left: 20px;
  padding-right: 20px;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-container-bg {
  background-color: rgb(255, 214, 175);
}
.fa {
  margin-left: 5px;
  font-size: 20px;
}



/* Footer  */
.footer {
  background-color: rgb(43, 31, 20);
  color: white;
  min-height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* TABLE */

.tableContainer{
  margin: 100px;
  /* border: 2px solid red; */
  width: 90vw;
}

/* .card-container{
  margin:10px;
  float:left;
  dis;
} */

.bodyH{
  height: 100%;

 overflow: auto;
 
}

CSS Pretty Print
 
body {
	 position: absolute;
	 height: 100%;
	 width: 100%;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 background: #265cb3;
}
 body:before {
	 content: '
	'
	;
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 background: radial-gradient(150% 150% at 0% 20%, #d8dee8 20%, #788daf);
}
 .buttonF {
	 appearance: none;
	 border: none;
	 outline: none;
	 padding: 1px;
	 /* border: 1px; */
	 cursor: pointer;
	 display:flex;
	 align-items: center;
	 justify-content: center;
	 position: absolute;
	 font-size: 30vmin;
	 width: 15%;
	 height: 15%;
   margin-left: 40%;
   margin-top: 20%;
	 opacity: 0;
	 animation: buttonIn 2s cubic-bezier(0.33, 0.45, 0.3, 1) forwards 2s;
	 background: none;
 
	 /* border-radius: 50%; */
}
 @keyframes buttonIn {
	 from {
		 opacity: 0;
		 transform: scale3d(1.1, 1.15, 1);
	}
	 to {
		 opacity: 1;
		 transform: none;
	}
}
 .buttonF:before, .button:after {
	 content: '
	'
	;
	 /* border-radius: inherit; */
}
 .buttonF:before {
	 filter: blur(0.025em);
	 position: absolute;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 background: radial-gradient(160% 160% at 57.5% 60%, rgba(235, 238, 243, 0) 30%, #ebeef3 45%), radial-gradient(180% 200% at 40% 17.5%, rgba(152, 168, 194, 0) 35%, #98a8c2 50%), radial-gradient(120% 120% at 45% 45%, rgba(184, 195, 213, 0.56) 42%, rgba(152, 168, 194, .75) 50%);
	 background-color: #1b5bd3;
	 box-shadow: inset -0.05em -0.05em 0.025em -0.025em #a8b5cc, 0.115em 0.15em 0.1em -0.033em #98a9c2, 0.15em 0.2em 0.25em #a8b7cc92, 0.5em 0.33em 0.5em 0.1em #a8b5cc, -0.1em -0.1em 0.05em -0.075em #dee3ec, -0.2em -0.2em 0.33em -0.075em #dadfe9;
}
 .buttonF:after {
	 position: absolute;
	 top: 0.025em;
	 right: 0.025em;
	 bottom: 0.025em;
	 left: 0.025em;
	 background: radial-gradient(150% 150% at 75% 75%, rgba(120, 141, 175, 0) 30%, #788daf), radial-gradient(150% 150% at -10% -10%, rgba(226, 230, 238, 0) 50%, #e2e6ee);
	 background-color: #b8c3d5;
	 transition: 0.75s cubic-bezier(0.33, 0.45, 0.3, 1);
	 transition-delay: 0.25s;
	 opacity: 0;
	 filter: blur(0.03em);
	 transform: scale3d(0.925, 0.94, 1);
}
 .print {
	 position: relative;
	 width: 40%;
	 height: 0;
	 padding-bottom: 44.488%;
	 display: inline-block;
	 z-index: 1;
	 transform: scale3d(1.05, 1.05, 1);
	 backface-visiblity: hidden;
	 color: rgba(51, 170, 255, .5);
}
 .print svg {
	 position: absolute;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
}
 .print path {
	 stroke-width: 4;
	 fill: none;
	 stroke-linecap: round;
	 stroke-dasharray: 1;
	 transition: 2s cubic-bezier(0.33, 0.45, 0.3, 1);
	 will-change: stroke-dashoffset, stroke, color, opacity;
}
 .print--under {
	 margin-right: -40%;
	 mix-blend-mode: lighten;
	 filter: drop-shadow(0 0 0.033em currentColor);
	 stroke-dashoffset: 0.5;
	 transition: 2s cubic-bezier(0.33, 0.45, 0.3, 1);
	 animation: printPulse 2s linear infinite 6.25s;
}
 @keyframes printPulse {
	 0% {
		 opacity: 1;
	}
	 50% {
		 opacity: 0.33;
	}
	 100% {
		 opacity: 1;
	}
}
 .print--under path {
	 opacity: 0;
	 animation: printIn 2s cubic-bezier(0.33, 0.45, 0.3, 1) forwards 3.2s;
}
 @keyframes printIn {
	 from {
		 opacity: 0;
		 stroke-dashoffset: 0.5;
	}
	 to {
		 opacity: 1;
		 stroke-dashoffset: 0;
	}
}
 .print--under path:nth-of-type(1) {
	 stroke: #83afe3;
}
 .print--under path:nth-of-type(2) {
	 stroke: #83afe3;
}
 .print--under path:nth-of-type(3) {
	 stroke: #a6d4ff;
}
 .print--under path:nth-of-type(4) {
	 stroke: #a6d7ff;
}
 .print--under path:nth-of-type(5) {
	 stroke: #a6daff;
}
 .print--over {
	 filter: drop-shadow(-0.0075em -0.0075em 0.005em rgb(228, 228, 248)) drop-shadow(0.0075em 0.0075em 0.005em rgba(255, 255, 255, .25)) drop-shadow(0 0 0.04em currentColor);
	 opacity: 0;
	 transition: transform 2s cubic-bezier(0.33, 0.45, 0.3, 1), color 0s 0.4s, opacity 0.5s cubic-bezier(0.33, 0.45, 0.3, 1);
}
 .print--over:after {
	 content: '
	'
	;
	 position: absolute;
	 top: -40%;
	 right: -60%;
	 bottom: -40%;
	 left: -60%;
	 border-radius: 50%;
	 opacity: 0;
	 background: radial-gradient(32.5% 32.5% at 42.5% 42.5%, rgba(255, 255, 255, .55), rgba(255, 255, 255, 0));
	 mix-blend-mode: color-dodge;
	 transition: opacity 0.3s cubic-bezier(0.33, 0.45, 0.3, 1);
	 animation: glowPulse 3s linear infinite, glowTwist 3s linear infinite;
}
 @keyframes glowPulse {
	 0% {
		 transform: scale3d(0.9, 0.9, 1);
	}
	 50% {
		 transform: scale3d(1, 1, 1);
	}
	 100% {
		 transform: scale3d(0.9, 0.9, 1);
	}
}
 @keyframes glowTwist {
	 0% {
		 rotate: 0deg;
	}
	 50% {
		 rotate: 180deg;
	}
	 100% {
		 rotate: 360deg;
	}
}
 .print--over path {
	 opacity: 0;
	 stroke-dashoffset: 1;
	 transition: stroke 0.5s cubic-bezier(0.33, 0.45, 0.3, 1), opacity 0s 0.5s, stroke-dashoffset 0s 0.5s;
}
 .print--over path:nth-of-type(1) {
	 stroke: #338fff;
}
 .print--over path:nth-of-type(2) {
	 stroke: #3396ff;
}
 .print--over path:nth-of-type(3) {
	 stroke: #339cff;
}
 .print--over path:nth-of-type(4) {
	 stroke: #33a3ff;
}
 .print--over path:nth-of-type(5) {
	 stroke: #3af;
}
 .buttonF:hover.test, .button.test.test {
	 animation: none;
	 opacity: 1;
	 transform: none;
	 font-size: 60vmin;
}
 .buttonF:hover:after, .button.test:after {
	 opacity: 1;
	 transform: none;
	 transition-delay: 0s;
}
 .buttonF:hover .print, .button.test .print {
	 transform: scale3d(1, 1, 1) translateZ(0);
}
 .buttonF:hover .print--over, .button.test .print--over {
	 color: rgba(111, 0, 255, .66);
	 opacity: 0.66;
	 transition: 1.5s cubic-bezier(0.33, 0.45, 0.3, 1) 4.5s, opacity 0.25s cubic-bezier(0.33, 0.45, 0.3, 1), transform 2s cubic-bezier(0.33, 0.45, 0.3, 1);
}
 .buttonF:hover .print--over:after, .button.test .print--over:after {
	 transition: opacity 2s cubic-bezier(0.33, 0.45, 0.3, 1) 5.25s;
}
 .buttonF:hover .print--over path, .button.test .print--over path {
	 opacity: 1;
	 stroke-dashoffset: 0;
}
 .buttonF:hover .print--over path:nth-of-type(1), .button.test .print--over path:nth-of-type(1) {
	 stroke: #2a00ff;
	 transition: opacity 0.25s cubic-bezier(0.33, 0.45, 0.3, 1) 0.35s, stroke-dashoffset 4.2s cubic-bezier(0.33, 0.45, 0.3, 1) 0.35s, stroke 1.2s cubic-bezier(0.33, 0.45, 0.3, 1) 4.65s, color 1.2s cubic-bezier(0.33, 0.45, 0.3, 1) 4.65s;
}
 .buttonF:hover .print--over path:nth-of-type(2), .button.test .print--over path:nth-of-type(2) {
	 stroke: #3c00ff;
	 transition: opacity 0.25s cubic-bezier(0.33, 0.45, 0.3, 1) 0.45s, stroke-dashoffset 4.4s cubic-bezier(0.33, 0.45, 0.3, 1) 0.45s, stroke 1.4s cubic-bezier(0.33, 0.45, 0.3, 1) 4.55s, color 1.4s cubic-bezier(0.33, 0.45, 0.3, 1) 4.55s;
}
 .buttonF:hover .print--over path:nth-of-type(3), .button.test .print--over path:nth-of-type(3) {
	 stroke: #4d00ff;
	 transition: opacity 0.25s cubic-bezier(0.33, 0.45, 0.3, 1) 0.55s, stroke-dashoffset 4.6s cubic-bezier(0.33, 0.45, 0.3, 1) 0.55s, stroke 1.6s cubic-bezier(0.33, 0.45, 0.3, 1) 4.45s, color 1.6s cubic-bezier(0.33, 0.45, 0.3, 1) 4.45s;
}
 .buttonF:hover .print--over path:nth-of-type(4), .button.test .print--over path:nth-of-type(4) {
	 stroke: #5e00ff;
	 transition: opacity 0.25s cubic-bezier(0.33, 0.45, 0.3, 1) 0.65s, stroke-dashoffset 4.8s cubic-bezier(0.33, 0.45, 0.3, 1) 0.65s, stroke 1.8s cubic-bezier(0.33, 0.45, 0.3, 1) 4.35s, color 1.8s cubic-bezier(0.33, 0.45, 0.3, 1) 4.35s;
}
 .buttonF:hover .print--over path:nth-of-type(5), .button.test .print--over path:nth-of-type(5) {
	 stroke: #6f00ff;
	 transition: opacity 0.25s cubic-bezier(0.33, 0.45, 0.3, 1) 0.75s, stroke-dashoffset 5s cubic-bezier(0.33, 0.45, 0.3, 1) 0.75s, stroke 2s cubic-bezier(0.33, 0.45, 0.3, 1) 4.25s, color 2s cubic-bezier(0.33, 0.45, 0.3, 1) 4.25s;
}